<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chest X-ray Analysis</title>
    <link rel="stylesheet" href="static/bootstrap.min.css">
    <link rel="stylesheet" href="static/style.css">
</head>
<body class="bg-light">

    <div class="container text-center py-5">
        <h1 class="display-4 mb-4">Chest X-ray Analysis</h1>

        <a href="/" class="btn btn-primary btn-lg">Home</a>

        <!-- Upload Image Form -->
        <form id="uploadForm" class="mb-4 mt-5">
            <input type="file" id="fileInput" name="file" accept="image/*" class="form-control mb-3" required>

            <div id="previewContainer" class="mb-4 mt-a5">
                <img id="preview" class="img-fluid rounded shadow" src="#" alt="Image Preview" style="display:none;">
            </div>

            <button id='processButton' type="button" class="btn btn-primary" onclick="uploadImage()">Process Image</button>
        </form>

        <div class="alert alert-info">
            <div>Class: <span id="classname"></span></div>
            <div>Certainty: <span id="certainty"></span></div>
            <div id="results"></div>
        </div>

    </div>
    <script type="text/javascript" src="static/analysis.js"></script>

</body>
</html>
