<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tuberculosis Detection</title>
    <link rel="stylesheet" href="static/bootstrap.min.css">
    <link rel="stylesheet" href="static/style.css">
</head>
<body class="bg-light">
    <div class="container text-center py-5">
        <h1 class="display-4 mb-4">Welcome to Tuberculosis Detection</h1>
        <p class="lead mb-4">
            Tuberculosis (TB) is a serious infectious disease that primarily affects the lungs. Early detection and treatment are crucial to prevent the spread of TB and improve patient outcomes. This application uses advanced AI to analyze chest X-ray images and detect signs of Tuberculosis.
        </p>
        <a href="analysis" class="btn btn-primary btn-lg">Analyze Chest X-ray</a>
    </div>
</body>
</html>
